@page "/arrangepage"
@page "/arrangepage/{Id:int}"
@rendermode InteractiveAuto
@using static SharedLibrary.Models.Reservation
@using SharedLibrary.ReservationRepositories1
@inject IReservationRepository ReservationService

<div class="container">
    <div class="row">
        <div class="col-md-30">
            <div class="card">
                <div class="card-header">新增預約</div>
                <div class="card-body">
                    <EditForm Model="ReservationModel" OnValidSubmit="HandleSave">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label class="form-label">護理站</label>
                            <InputText @bind-Value="ReservationModel.NursingStation" class="form-control"></InputText>
                            <ValidationMessage For="()=>ReservationModel.NursingStation"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="form-label">床位</label>
                            <select @bind="ReservationModel.BedId" class="form-control">
                                <option>請選擇床位</option>
                                <option value="A">A床</option>
                                <option value="B">B床</option>
                            </select>
                            <ValidationMessage For="@(() => ReservationModel.BedId)"></ValidationMessage>
                        </div>

                        <div class="form-group">
                            <label class="form-label">欲排病歷號</label>
                            <InputText @bind-Value="ReservationModel.PatientId" class="form-control"></InputText>
                            <ValidationMessage For="()=>ReservationModel.PatientId"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="form-label">日期</label>
                            <InputDate @bind-Value="ReservationModel.Day" class="form-control"></InputDate>
                            <ValidationMessage For="()=>ReservationModel.Day"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <label class="form-label">時段</label>
                            <select @bind="ReservationModel.SlOt" class="form-control">
                                <option>請選擇時段</option>
                                <option value="morning">上午</option>
                                <option value="afternoon">下午</option>
                            </select>
                            <ValidationMessage For="@(() => ReservationModel.SlOt)"></ValidationMessage>
                        </div>

                        <div class="form-group">
                            <label class="form-label">操作人員</label>
                            <InputText @bind-Value="ReservationModel.OperatOr" class="form-control"></InputText>
                            <ValidationMessage For="()=>ReservationModel.OperatOr"></ValidationMessage>
                        </div>

                        <div class="form-group">
                            <label class="form-label">操作時間</label>
                            <InputDate @bind-Value="ReservationModel.OperatingTime" class="form-control"></InputDate>
                            <ValidationMessage For="()=>ReservationModel.OperatingTime"></ValidationMessage>
                        </div>
                        <br />
                        <div class="button-container">
                            <button type="submit" class="btn btn-primary"> 儲存</button>
                            <button class="btn btn-primary" @onclick="NavigateToListPage"> 回清單</button>
                        </div>
                        <br />
                        <br />
                    </EditForm>
                </div>

@*                 <div class="card-footer">
                    Id:@ReturnReservation.Id<br />
                    NursingStation:@ReturnReservation.NursingStation <br />
                    BedId: @ReturnReservation.BedId <br />
                    PatientId: @ReturnReservation.PatientId <br />
                    Day: @ReturnReservation.Day.ToShortDateString() <br />
                    SlOt: @ReturnReservation.SlOt <br />
                    OperatOr: @ReturnReservation.OperatOr<br />
                    OperatingTime: @ReturnReservation.OperatingTime.ToString("yyyy-MM-dd HH:mm:ss") <br />
                </div>
 *@
            </div>
        </div>
    </div>
</div>



@code {

    public Reservation ReservationModel { get; set; } = new();

    [Parameter] public int Id { get; set; }
    private Reservation ReturnReservation = new Reservation();

    private async Task HandleSave()
    {
        if (ReservationModel.Id > 0)
        {
            ReturnReservation = await ReservationService.UpdateReservationAsync(ReservationModel);
            ReservationModel = new();
        }
        else
        {
            ReturnReservation = await ReservationService.AddReservationAsync(ReservationModel);
            ReservationModel = new();
        }

    }
    protected override async Task OnParametersSetAsync()
    {
        if(Id > 0)
        {
            ReservationModel = await ReservationService.GetReservationByIdAsync(Id);
        }
    }
    private void NavigateToListPage()
    {
        NavigationManager.NavigateTo("reservationlist");
    }
} 

<style>
      .card-header{
       background-color: #bbafaf;
       color: #fff;
    }
    .card-body {
    }
       .btn {
        width: 80px;
        height: 35px;
        font-size: 14px;
        font-weight: bold;
    }
        .btn-primary {
        background-color: #bbafaf;
        color: #fff;
        border: 1px solid #bbafaf;
    }
        .btn-primary:hover {
            background-color: #8d838c;
                    border: 1px solid #8d838c;

        }

        .button-container {
        display: flex;
        justify-content: center; /* 水平置中 */
        gap: 30px; /* 按鈕間距 */
    }
</style>